<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-title> KpopOverseas </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-img src="assets/icon/logo.png" style="width: 200px; margin: auto;">
      </ion-img>
    </ion-row>
    
    <ion-row>
      <h1>KpopOverseas</h1>
    </ion-row>

    <ion-row>
      <ion-button [routerLink]="['../radar']">
        <ion-col>
          <h4>Radares</h4>
        </ion-col>
        <ion-col>
          <ion-icon class="setinha" size="large" name="caret-forward-outline"></ion-icon>
        </ion-col>
      </ion-button>
    </ion-row>

    <ion-row>
      <ion-button href="https://www.instagram.com/kpopoverseas/" target="_blank">
        <ion-col>
          <h4>Instagram</h4>
        </ion-col>
        <ion-col>
          <ion-icon class="setinha" size="large" name="caret-forward-outline"></ion-icon>
        </ion-col>
      </ion-button>
    </ion-row>

    <ion-row>
      <ion-button href="https://www.youtube.com/channel/UC6yGwGKGVvLmWqa1HIYPa9Q" target="_blank">
        <ion-col>
          <h4>Youtube</h4>
        </ion-col>
        <ion-col>
          <ion-icon class="setinha" size="large" name="caret-forward-outline"></ion-icon>
        </ion-col>
      </ion-button>
    </ion-row>

  </ion-grid>

</ion-content>
